*.aux
*.log
*.nav
*.out
*.pdf
*.toc
*.snm
*.bbl
*.blg
*.idx
*.ilg
*.ind

buch/buch-blx.bib
buch/buch.aux
buch/buch.bbl
buch/buch.blg
buch/buch.idx
buch/buch.ilg
buch/buch.ind
buch/buch.log
buch/buch.out
buch/buch.pdf
buch/buch.run.xml
buch/buch.synctex.gz
buch/buch.toc
buch/buch1-blx.aux
buch/buch1-blx.bbl
buch/buch1-blx.blg
buch/buch10-blx.aux
buch/buch10-blx.bbl
buch/buch10-blx.blg
buch/buch11-blx.aux
buch/buch11-blx.bbl
buch/buch11-blx.blg
buch/buch2-blx.aux
buch/buch2-blx.bbl
buch/buch2-blx.blg
buch/buch3-blx.aux
buch/buch3-blx.bbl
buch/buch3-blx.blg
buch/buch4-blx.aux
buch/buch4-blx.bbl
buch/buch4-blx.blg
buch/buch5-blx.aux
buch/buch5-blx.bbl
buch/buch5-blx.blg
buch/buch6-blx.aux
buch/buch6-blx.bbl
buch/buch6-blx.blg
buch/buch7-blx.aux
buch/buch7-blx.bbl
buch/buch7-blx.blg
buch/buch8-blx.aux
buch/buch8-blx.bbl
buch/buch8-blx.blg
buch/buch9-blx.aux
buch/buch9-blx.bbl
buch/buch9-blx.blg
